.greet{
	font-size: 100px;
	font-weight: bold;
}

.greet > span{
	font-size: 25px;
	text-align: center;
	display:block;
	margin-top: 40px;
}

.progbox, .enbox{
	position: fixed;
	bottom: 0;
	display: grid;
	place-items: center;
}

.progbox, .enbox{
	width: 30%;
}

.progbox{
	left: 500;
}

.enbox{
	right: 500;
}

.progbox > a, .enbox > a{
	background: rgba(0, 112, 72, 1);
	display: grid;
	place-items: center;
	height: 200px;
	border: 2px solid #005b3b;
	border-radius: 50px 50px 0px 0px;
	width: 200px;
	font-size: 30px;
	font-weight: bold;
	transition: all 0.1s linear 0s;
	text-decoration: none;
	cursor: pointer;
}

.progbox > a:hover, .enbox > a:hover{
	height: 220px;
	color: #00ff70;
}